      #bk01 {background:#FFFFFF;}
      #bk02 {background:#232323;}
      #bk03 {background:#4CD964;}
      #bk04 {background:#5AC8FA;}
      #bk05 {background:#007AFF}
      #bk06 {background:#8E8E93}
      #bk07 {background:#34AADC;}
      #bk08 {background:#5856D6;}
      #bk09 {background:#FF2D55;}
      #bk10 {background:#FF3B30;}
      #bk11 {background:#FF9500}
      #bk12 {background:#FFCC00}
      #bk13 {background: -webkit-linear-gradient(#ee3369, #f15f3e)}
      #bk14 {background: -webkit-linear-gradient(#f15f3e, #ee3369)}
      #bk15 {background: -webkit-linear-gradient(#f15f3e, #f8951d)}
      #bk16 {background: -webkit-linear-gradient(#f8951d, #f15f3e)}
      #bk17 {background: -webkit-linear-gradient(#ffce06, #fedb4d)}
      #bk18 {background: -webkit-linear-gradient(#fedb4d, #ffce06)}
      #bk19 {background: -webkit-linear-gradient(#4cb748, #9ccd63)}
      #bk20 {background: -webkit-linear-gradient(#9ccd63, #4cb748)}
      #bk21 {background: -webkit-linear-gradient(#64c5f0, #76c9b6)}
      #bk22 {background: -webkit-linear-gradient(#76c9b6, #64c5f0)}
      #bk23 {background: -webkit-linear-gradient(#4265b0, #4cc8ee)}
      #bk24 {background: -webkit-linear-gradient(#4cc8ee, #4265b0)}
      #bk25 {background: -webkit-linear-gradient(#5a5daa, #975aa4)}
      #bk26 {background: -webkit-linear-gradient(#975aa4, #5a5daa)}
      #bk27 {background: -webkit-linear-gradient(#965aa4, #db57a0)}
      #bk28 {background: -webkit-linear-gradient(#db57a0, #965aa4)}
      #bk29 {background: -webkit-linear-gradient(#2b2b2b, #4b4b4b)}
      #bk30 {background: -webkit-linear-gradient(#4b4b4b, #2b2b2b)}
      #bk31 {background: -webkit-linear-gradient(#898c90, #dbddde)}
      #bk32 {background: -webkit-linear-gradient(#dbddde, #898c90)}
      #bk33 {background: -webkit-linear-gradient(#96d8e9, #4272b8)}
      #bk34 {background: -webkit-linear-gradient(#4272b8, #96d8e9)}
      #bk35 {background: -webkit-linear-gradient(#ee3369, #f15f3e)}
      #bk36 {background: -webkit-linear-gradient(#f15f3e, #ee3369)}
      #bk37 {background:none;}
      #bk38 {background:#232323;}
      #bk39 {background:#4CD964;}
      #bk40 {background:#5AC8FA;}
      #bk41 {background:#007AFF}
      #bk42 {background:#8E8E93}
      #bk43 {background:#34AADC;}
      #bk44 {background:#5856D6;}
      #bk45 {background:#FF2D55;}
      #bk46 {background:#FF3B30;}
      #bk47 {background:#FF9500}
      #bk48 {background:#FFCC00}
      #bk49 {background: -webkit-linear-gradient(#ee3369, #f15f3e)}
      #bk50 {background: -webkit-linear-gradient(#f15f3e, #f8951d)}
      
      