/*
Icon-Maker for Alexa
by Liz Myers
lizmyers@amazon.com
November 2016
*/

<style>
/*  ----------------------------------------------------- */
/*  --------------------CANVAS----------------------- */
/*  ---------------------------------------------------- */
  canvas {
      background:#f90!important;
      border-radius: 50%;
      border:0px solid green;
      position:absolute;
      left:20px;
      top:0;
      height:380px;
      width:380px;
      text-align:center;
  }
/*  img {
    background:green;
    height:512px;
    width:512px;
  }*/
  #canvas {
      background:#f90;
      border:0px solid green;
      border-radius: none;
      position:absolute;
      left:50px;
      top:150px;
  }

#myIconBackground {
  position: relative;
  display:block;
  top:120px;
  left:43.25%;
  border:0px solid black;
  width:256px;
  height:256px;
  border-radius: 50%;
  background:#ffa500;
  box-shadow: 6px 10px 10px #ccc;
}
#myIconSymbol {
  border:2px solid green;
  width:250px;
  height:250px;
  padding:0;
  line-height: 1.7em;
  font-size: 150px;
  position:relative;
  top:0;
  left:0;
  text-align: center;
}
.downloadButton {
  width:130px;
  height:40px;
  line-height: 2.4em;
  float:right;
  border-radius: 8px;
  background:#3ab9f2;
  background: -webkit-linear-gradient(bottom, rgba(0,192,222,1) 0%, rgba(0,105,166,1) 100%);
  box-shadow: 2px 2px 3px #cdcdcd;
  cursor:pointer;
}
.downloadButton:hover {
  background: -webkit-linear-gradient(top,  rgba(0,192,222,1) 0%, rgba(0,105,166,1) 100%);
}
.downloadButton .fa-arrow-circle-o-down {
    float:left;
    borderpx solid white;
    font-size: 1.45em;
    line-height: 1.65em;
    margin:0 24px 15px 10px;
  }
#download108{
  position:relative;
  top:-70px;
  right:40px!important;
}
#download512{
  position: relative;
  top:-70px;
  right:20px;
}
#propertiesPanel {
   float:right;
   position:fixed;
   top:70px;
   right:0px;
   min-width: 320px!important;
   width:24.25%;
   height:100%;
   background:#343434;
   border-left:1px solid #000;
}
#glyph01 {background:#ffffff;}
#glyph02 {background:#232323;}


button {
  float:left;
  width:40%;
  height:50px;
  background:#34AADC;
  margin:50px;
  margin-left:20px!important;
  margin-top:20px!important;
  color:white;
  font-size: 1.2em;
  cursor: pointer;
}
#icon-xpos-plus, #icon-xpos-minus, {
    position:absolute!important;
    top:650px;
  }
  #icon-ypos-plus, #icon-ypos-minus, {
    position:absolute!important;
    top:750px;
  }
/*  ----------------------------------------------------- */
/*  --------------------end Canvas----------------------- */
/*  ---------------------------------------------------- */
      #slide-list {
        width:260px;
        border:0px solid green;
      }
      #slide-list  ul {
        width:260px;
      }
      #slide-list p {
        margin-top:10px;
        display:inline-block;
        border:0px solid green;
      }
      p.list-glyph {
        display:inline-block;
        position:relative;
        top:-6px;
        margin:0px 0 0 15px;
        width:60px;
        font-size:1.75em;
        text-align:center;
        color:#333!important;
      }
      .list-title {
        margin:18px 0 0 20px;
        width:100px;
        color:#383f46;
        line-height: 1.7em;
        white-space: nowrap;
      }
      span.list-code {
        color:#383f46!important;
        border:0px solid green;
        white-space: nowrap;
      }
      .list-glyph, .list-glyph >i{
        color:#333!important;
        font-size:1.15em!important;
      }
      #myPicksTotalLabel{
        float:left;margin:-7px 0 0px 10px;border:0px solid red;
      }
      .ui-input-text {
        border:0px solid yellow!important;
      }
      #bkgndColorPicker {
        margin-top:50px;
        background: none;
      }
      #fullBkgnd {
        border:0px solid red;
        margin-top:20px;
      }
      #iconColorPicker {
        margin-top:50px;
        background: none;
      }
      #fullIcon {
        border:4px solid red;
        margin-top:20px;
      }
      .sp-picker-container {
        position:fixed;
        margin:0;
        padding:10px;
        padding-bottom:50px;
        background:#dedede;
      }
      .sp-cancel {
        float:left;
        position:absolute;
        top:195px;
        left:15px;
        font-size:1.2em;
      }
      .sp-choose {
        background: linear-gradient(to right, rgba(0,105,166,1) 0%, rgba(0,192,222,1) 100%);
        position:absolute;
        float:right;
        top:170px;
        right:10px;
        height:30px!important;
        width:100px;
        padding:0;
        margin:0;
      }
      #position-container {
        /*background:#454545;*/
        height:100px;
        width:200px;
        left:20px;
        position:relative;
        top:-20px;
      }
     #btn-move-up {
        margin-left:35px;
      }
      #btn-move-left {
        float:left;
        position:absolute;
        top:5px;
      }
      #btn-move-right {
        float:right;
        position:absolute;
        top:5px;
        right:0px;
      }
      #btn-move-down{
        position:absolute;
        bottom:2px;
        left:35px;
      }
      .btn-move {
        height:30px;
        width:30px;
        background:#ccc;
        color:#444;
        cursor:pointer;
        line-height:1.5em;
        margin-top:30%;
        text-align:center;
        border-radius: 4px
      }
      #cat-selector {
        float:left;
        width:180px;
        height:32px;
        margin:0;
        padding:0;
        position:absolute;
        top:28px;
        left:220px;
        border:1px solid #ccc;
        border-radius: 4px;
      }
      .label {
        color:#999;
        font-size:0.9em;
        font-family:arial, sans-serif;
        font-weight:normal;
        margin:10px 0 0 10px;
        line-height: 2em;
      }
      .fa-angle-down {
        color:#999;
        font-size:1.2em;
        float:right;
        margin-right:10px;
        margin-top:6px;
      }
      #slider {
        width: 20px;
        height:20px;
        background:red;
        border:1px solid yellow;

      }
      #infoSlider {
        border:1px solid white;

        width:200px;
        color:white;
      }

    /*-----------DROP-DOWN MENUS------------*/

    #filterDropDown, #shadowDropDown {
      margin:0;
      padding:0;
      padding-left:4px;
      padding-top:6px;
      position:absolute;
      font-size: 0.9em;
      line-height: 1.2em;
      top:29px;
      left:230px;
      width:150px;
      height:25px;
      list-style: none!important;
      border:1px solid #ddd;
      border-radius:4px;
      cursor:pointer;
    }
    #filterDropDown ul, #shadowDropDown ul {
      margin:0;
      padding:0;
      list-style: none;
      background:none;o
      text-decoration: none;
    }
    #filterDropDown ul li ul, #shadowDropDown ul li ul {
      margin-top:8px;
      margin-left:-3px;
      background:#f7fafd!important;
      box-shadow: 1px 1px 2px #787878;
    }
    li.menuItem, li.dirItem {
      display:none;
      line-height: 2em;
      width:100%;
      padding:0px;
      margin:0;
      border-top: 1px solid #ebebeb;
    }
    li.menuItem:hover, li.dirItem:hover {
        background:#fc0;
    }
    li.menuItem a, li.dirItem a {
        color: #383f46!important;
        text-decoration: none!important;
    }
    li.menuItem:hover ~ a, li.dirItem:hover ~ a {
      font-weight: bold;
      color:#900!important;
      text-decoration: none;
    }
    #filterDropDown:hover li.menuItem, #shadowDropDown:hover li.dirItem {
      display:block;
    }
    li a.menuItemOn  {
       font-weight: bold;
       color:#900!important;
       width:100%;
       padding:4px;
       text-decoration: none;
    }
    #gradientDropDown {
      margin:0;
      padding:0;
      padding-left:4px;
      padding-top:6px;
      position:absolute;
      font-size: 0.9em;
      line-height: 1.2em;
      top:185px;
      right:60px;
      width:150px;
      height:25px;
      list-style: none!important;
      border:1px solid #ddd;
      border-radius:4px;
      cursor:pointer;
      overflow: none;
    }
    #gradientDropDown ul {
      margin:0;
      padding:0;
      height:100%;
      list-style: none;
      background:none;
      text-decoration: none;
    }
    #gradientDropDown ul li ul li{
      border:0px solid yellow;
      margin-top:8px;
      margin-left:-3px;
      background:#f7fafd!important;
      box-shadow: 1px 1px 2px #787878;
    }
    li.menuItem,
    li.gradientItem{
      display:none;
      line-height: 2em;
      width:100%;
      padding:0px;
      margin:0;
      border-top: 0px solid #ebebeb;
    }
    #gradientDropDown:hover li.gradientItem {
      display:block;
    }
    #down-arrow {
      float:right;
      position:absolute;
      top:-1px;
      right:16px;
      color:#383d46;
      font-size: 1.25em;
      padding-top:2px;
      padding-left:10px;
    }
    .backgroundColor {
        float:left;
        width:20px;
        height:20px;
        margin:5px;
        cursor:pointer;
        border:0px solid blue;
      }

    li.showMyPicks {
      display:hidden;
      padding-top:10px;
    }
    li.showMyPicks:hover {
      display:inherit;
    }
    .showMyPicksLabel {
      float:right;
      position:absolute;
      top:20px;
      left:720px;
      color:#383f46;
    }
    #showAll{
      margin-left:10px;
    }
    #myCount, .myPicks{
        color:#f3a91d!important;
    }
    .menu li a:hover{
        color:#f3a91d!important;
    }
    .cover {
      display:none;
      height:100%;
      width:100%;
      background-color:black;
      opacity:0;
      position: fixed;
      left:0;
      top:0;
      z-index: 1000;
    }
    .degree_picker{
  padding: 68px 0px 20px;
}
.depth_picker{
  padding: 38px 0px 10px;
}
.ui-slider{
  width: 0.2em;
  background: #e2e2e2;
  border: 12px solid #f8f7f7;
  color: #222222;
  position: relative;
  text-align: left;
  margin: 0 auto;
}
.ui-slider-range{
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  font-weight: bold;
}
.ui-slider-handle{
  border-radius: 50%;
  background-color: #df3518;
  left: -.45em;
  margin-left: 0;
  margin-bottom: -.6em;position: absolute;
  z-index: 2;
  width: 1.1em;
  height: 1.1em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
}
.ui-slider-handle:focus, .ui-slider-handle:active{
  outline: none;
}

.depth_picker p, .degree_picker p{
  text-align: center;
  font-size: 24px;
  font-family: 'proxima_novasemibold';
}

.increment, .decrement{
  text-align: center;
  display: block;
}

.increment span, .decrement span{
  margin: 0 auto;
  width: 0.2em;
  background: #e2e2e2;
}

.increment span{
  border-top-left-radius: 3px;
  border-top-right-radius: 2px;
  padding: 9px 5px 5px 6px;
  cursor: pointer;
}

.decrement span{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 2px;
  border-top: 2px solid #e2e2e2;
  padding: 6px 5px 1px 6px;
  cursor: pointer;
}

#slider-vertical{
  height: 125px;
}
#slider {
    width : 200px;
}
.btn-icon-size{
  float:left;
  position:relative;
  left:20px;
  width:120px;
  margin-top: -8px;
}

#iconSize {
  margin:0;
  padding:0;
  font-size:1.2em;
  width:50px;
  height:50px;
  position:absolute;
  margin-top:500px;
  background:white;
}
.iconFontSize {
  float:left;
  border-radius: 4px;
  margin-right:12px;
  margin-left:0px;
  margin-bottom:10px;
  width:100px;
  height:30px;
  background: -webkit-linear-gradient(#965aa4, #db57a0);
  font-size:16px;
  color:white;
  text-align:center;
  line-height:2em;
  text-align:center;
  cursor:pointer;
}
.iconFontSize:hover{
   background: -webkit-linear-gradient(#db57a0, #965aa4);
}
#bkgndSize {
  margin:0;
  padding:0;
  font-size:1.2em;
  width:50px;
  height:50px;
  position:absolute;
  margin-top:400px;
  background:yellow;
}
#sm-container{
  background:#fff;
  border:0px solid #ebebeb;
  border-radius: 6px;
  box-shadow: 0px 1px 1px #a7a7a7;
  width:108px;
  height:108px;
  position:fixed;
  left:calc(50% - 230px);
  top:100px;
}
#sm-background {
  background: #f90;
  float:clear;
  border-radius: 50%;
  position:absolute;
  left:0px;
  top:0px;
  width:108px!important;
  height:108px!important;
  z-index:10!important;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  overflow:hidden!important;
}
#sm-background-border {
  background: none;
  float:clear;
  border-radius: 50%;
  position:absolute;
  left:0px;
  top:0px;
  width:96px!important;
  height:96px!important;
  z-index:10!important;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  overflow:hidden!important;
}
#sm-glyph-container {
  border:0px solid red;
  position:absolute;
  text-align: center;
  top:10%;
  left:0;
}
#sm-glyph {
 display:inline-block;
 border:0px solid red;
 color:#fff;
 margin-top:44px;
 font-size:66px;
 line-height: 0em;
 width:108px;
 text-align:center;
 /*filter: drop-shadow(1px 1px 1px #b57a22);*/
}
#sm-glyph-label {
  position:fixed;
  display:block;
  top:190px;
  left:calc(50% - 116px);
  width:200px;
  height:50px;
  font-size:0.75em;
  color:#999;"
}
#sm-mask {
  border:0px solid red;
  background: url('resources/img/108-mask.png')0 0;
  height:512px;
  width:512px;
  z-index: 1000;
}
#lg-container{
  background:#fff;
  border:0px solid red;
  border-radius: 10px;
  box-shadow: 0px 1px 1px #a7a7a7;
  width:512px;
  height:512px;
  position:fixed;
  top:230px;
  left:calc(50% - 232px);
}
#lg-background {
  background: #f90;
  float:clear;
  border-radius: 50%;
  position:relative;
  left:0px;
  top:0px;
  width:512px!important;
  height:512px!important;
  z-index:10!important;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  overflow:hidden!important;
}
#lg-background-border {
  background: none;
  float:clear;
  border-radius: 50%;
  position:relative;
  left:0px;
  top:0px;
  width:485px!important;
  height:485px!important;
  z-index:10!important;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  overflow:hidden!important;
}
#lg-glyph-container {
  border:0px solid red;
  position:absolute;
  left:0;
  right:0;
  padding-top:10%;
}
#lg-glyph  {
 display: inline-block;
 border:0px solid red;
 color:#fff;
 font-size:370px;
 line-height: 0px;
 margin-top:206px!important;
 width:512px;
 text-align:center;
 margin-top:0;
 /*filter: drop-shadow(1px 1px 1px #b57a22);*/
}
#lg-glyph-label {
  position:fixed;
  display:block;
  top:210px;
  left:calc(50% + 200px);
  width:200px;
  height:50px;
  font-size:0.75em;
  color:#999;"
}
#lg-mask {
  border:0px solid red;
  background: url('resources/img/512-mask.png')0 0;
  background-color: #fff;
  height:100%;
  width:100%;
  z-index:10000!important;
}
.sm-container-selected, .lg-container-selected {
  border:2px solid red!important;
}
#clip-mask {
    width: 380px;
    height:380px;
    background: #1e90ff;
}
#iconSize {
  position:absolute;
  top:-250px;
  left:50px;
  background: none;
/*  height:50px;
  width:50px;*/
}
#icon_size_input {
  background-color:white;
  font-size:1em;
  height:100%;
  width:25%;
  position:absolute;
  top:0;
  left:0;
}
.myRadioChoice{
  width:30%;
  height:50px;
  background:yellow;
}
.btn-icon-selector {
  float:left;
  display:block;
  background:none;
  width:70px;
  height:28px;
  line-height: 1.65em;
  text-align: center;
  border:1px solid #676767;
  cursor:pointer;
  margin-top:-8px;
}
button {
  background: light-blue;
  border:0px;
  color:white;
  font-size:.9em;
  height:30px;
  border-radius: 4px!important;
  box-shadow: none;
  padding:0;
  margin:0;
  width:50px;
  cursor:pointer;
}
.panel-label {
  top:20px;
  left:20px;
  position:absolute;
  font-size:1.2em;
}
#drawing-area {

}
.flip-h {
  -webkit-transform: scale(-1, 1);

</style>
